/* ./src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
* {
  -webkit-tap-highlight-color: transparent;
}

.header {
  @apply text-black text-4xl md:text-6xl font-bold mb-5 md:mb-10;
}
.header2 {
  @apply text-black text-3xl md:text-5xl font-bold;
}

.cardShadow {
  filter: drop-shadow(10px 40px 50px rgba(228, 232, 246, 40%));
}
.scrollMargin {
  scroll-margin-top: 110px;
}
.scrollMargin-mobile {
  scroll-margin-top: 90px;
}
.linearGradient {
  @apply bg-gradient-to-tr from-linear-tr to-linear-bl;
}

.activeLink a {
  @apply text-primary font-bold opacity-100;
}
